<%- contentFor('secao1') %>

<div class="result">
  <% if(!error){%>
    <h2>A <%= quantidade%> Dólares na Cotação de <%= cotacao%> é igual a: <%= conversao%> reais!</h2>
  <% }else{%>
    <%= error %>
  <%} %>
</div>
